.container {
    width: 400px;
    height: 80vh;
    background-color: var(--blue-2);
    border-radius: 20px;
    box-shadow: 10px 10px 10px var(--shadow-dark);
}

.display {
    border: none;
    width: 100%;
    height: 15%;
    text-align: right;
    margin-bottom: 15px;
    background-color:  rgb(47, 47, 82);
    color: white;
    font-size: xx-large;
    padding-top: 25px;
    padding-right: 10px;
}

.equals {
  margin-top: 25px;
  width: 100%;
  height: 10%;
  background-color: rgb(47, 47, 82);
  color: white;
  text-align: center;
  border: none;
  font-size: xx-large;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.num-buttons {
    height: 68.1%;
    width: 100%;
    justify-items: center;
    text-align: center;
    cursor: pointer;
    display: grid;
    font-size: xx-large;
 }

 .button{
    width: 25%;
    height: 50px;
    padding: 30px;
 }
  
  /* .operator-buttons {
    display: grid;
    width: 100%;
    justify-items: center;
    grid-template-columns: 25px 25px 25px 25px;
    cursor: pointer;
  } */
  
  .rowContainer{
    display: flex;
  }